#board {
  position: fixed;
  width: fit-content;
  border: 2px solid var(--bs-secondary-border-subtle);
  background-color: var(--bs-tertiary-bg);
  border-radius: 6px;
  padding: 20px;
  cursor: move;
  box-shadow: 3px 3px 10px #000000;
  z-index: 10;
  scale: 1;
}

.bingo-cell {
  text-align: center;
  color: var(--bs-light-text-emphasis);
  background-color: var(--bs-secondary-bg);
  min-width: 12vh;
  min-height: 12vh;
  max-width: 12vh;
  max-height: 12vh;
  border: 2px solid var(--bs-light-border-subtle);
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 100%;
  padding: 5px;
}

.pointer-events-none {
  pointer-events: none;
}

.form-range {
  width: 300px;
}

.filled {
  background-color: var(--bs-green);
}
.nav-link {
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
}

#bingoLink {
  max-width: 300px;
}

#toastContainer {
  position: fixed;
  bottom: 10px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

#twitchEmbed {
  height: 85vh;
  z-index: 1;
}

iframe {
  border-radius: 6px;
}

.viewers-svg,
.follow-svg {
  filter: invert(79%) sepia(7%) saturate(294%) hue-rotate(169deg) brightness(90%) contrast(93%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
