#board {
  position: fixed;
  width: fit-content;
  border: 2px solid #d6d6d6;
  background-color: #7c7c7c;
  border-radius: 6px;
  padding: 20px;
  cursor: move;
  box-shadow: 3px 3px 10px #000000;
  z-index: 10;
}

.bingo-cell {
  text-align: center;
  color: rgb(10, 10, 10);
  background-color: #535353;
  min-width: 10vh;
  min-height: 10vh;
  border: 2px solid #a0a0a0;
  cursor: pointer;
  font-size: 0.8cqw;
  font-weight: 700;
}

#bingoEdit {
  cursor: pointer;
  width: fit-content;
}

.pointer-events-none {
  pointer-events: none;
}

.filled {
  background-color: #18ee22;
}
.nav-link {
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
}

#toastContainer {
  position: fixed;
  bottom: 10px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

#twitchEmbed {
  height: 85vh;
  z-index: 1;
}

iframe {
  border-radius: 6px;
}

.viewers-svg,
.follow-svg {
  filter: invert(79%) sepia(7%) saturate(294%) hue-rotate(169deg) brightness(90%) contrast(93%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
