.nav-link {
  cursor: pointer;
}

#toastContainer {
  position: fixed;
  bottom: 10px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

iframe {
  border-radius: 6px;
}

.chat-badge {
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.twitch-icon {
  display: inline-block;
  width: 22px;
  height: 26px;
  background-image: url(/pics/twitch.png);
  margin: 0 5px -8px 0;
}

.btn-twitch {
  color: #ffffff;
  background-color: #9933ff !important;
  border-color: #8744aa !important;
}

.btn-twitch:active,
.btn-twitch:focus,
.btn-twitch:hover {
  color: #ffffff;
  background-color: #8038de !important;
  border-color: #7f40a1 !important;
}

.viewers-svg {
  filter: invert(79%) sepia(7%) saturate(294%) hue-rotate(169deg) brightness(90%) contrast(93%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}
