.nav-link {
  cursor: pointer;
}

.material-icons {
  vertical-align: bottom;
}

#toastContainer {
  position: fixed;
  bottom: 10px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

.progress .progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}
@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#scoreDiv {
  font-size: 1.8rem;
  position: fixed;
  top: 190px;
  left: 0;
  padding-left: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 240px;
}

#timerDiv {
  font-size: 1.8rem;
  position: fixed;
  top: 300px;
  left: 0;
  padding-left: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 240px;
}

#scoreDiv > span,
#timerDiv > span {
  display: inline-block;
  margin-right: 20px;
}

#streamCover {
  position: absolute;
  top: 0px;
  left: 12px;
  height: 10rem;
  width: 30rem;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#clipCover {
  position: absolute;
  top: 0px;
  left: 12px;
  height: 6rem;
  width: 30rem;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#twitchEmbed {
  height: 75vh;
  z-index: 1;
}

iframe {
  border-radius: 6px;
}

#guessNumber {
  max-width: 100px;
}

#multiChoiceLabel,
#guessRangeLabel,
#scoreProgressBar,
#correction,
#gameNameDiv,
#gameInput,
#higherlowerDiv {
  font-size: 1.2rem;
}

.multiChoice-btn {
  font-size: 2rem;
  font-weight: 800;
  margin-right: 30px;
}

.mp-icon {
  font-size: 1.5em;
  color: #aeb5bd;
  vertical-align: middle;
}

.guess,
#nextRound,
#playAgain {
  font-size: 200%;
  width: 100%;
}

#guessInputDiv {
  scale: 1.3;
}

.viewers-svg,
.follow-svg {
  filter: invert(79%) sepia(7%) saturate(294%) hue-rotate(169deg) brightness(90%) contrast(93%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

#welcomeCard {
  margin: auto;
  width: 45vw;
}

.game-card {
  transition: transform 0.1s ease;
}
.game-card:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.game-card:hover .hidden {
  display: block;
}

#leaderboard {
  height: 75vh;
}

#leaderboardCard {
  overflow: auto;
  text-align: start;
}

.previous-number {
  font-size: 1.5rem;
  font-weight: 700;
}
