body {
  margin-bottom: 300px;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#board {
  height: max-content;
  width: max-content;
  border: 2px solid var(--bs-secondary-border-subtle);
  background-color: var(--bs-tertiary-bg);
  border-radius: 6px;
  padding: 20px;
  box-shadow: 3px 3px 10px #000000;
  z-index: 10;
  scale: 1;
  pointer-events: none;
}

#previewDiv {
  position: fixed;
  z-index: 4000;
  scale: 1;
  pointer-events: none;
  box-shadow: 3px 3px 10px #000000;
  border-radius: 6px;
}

#previewDiv > .card > .card-body {
  background-color: var(--bs-secondary-border-subtle);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  align-self: center;
}

#previewBoard {
  width: max-content;
  background-color: var(--bs-secondary-border-subtle);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
  z-index: 4000;
  scale: 1;
  pointer-events: none;
}

.bingo-cell {
  text-align: center;
  color: var(--bs-light-text-emphasis);
  background-color: var(--bs-secondary-bg);
  min-width: 14vh;
  min-height: 14vh;
  max-width: 14vh;
  max-height: 14vh;
  border: 2px solid var(--bs-light-border-subtle);
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 100%;
  padding: 5px;
}

.bingo-cell-preview {
  text-align: center;
  color: var(--bs-light-text-emphasis);
  background-color: var(--bs-tertiary-bg);
  min-width: 12vh;
  min-height: 12vh;
  max-width: 12vh;
  max-height: 12vh;
  border: 2px solid var(--bs-light-border-subtle);
  font-weight: 700;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 100%;
  padding: 5px;
  pointer-events: none;
}

.pointer-events-none {
  pointer-events: none;
}

.filled {
  background-color: var(--bs-green);
}

.nav-link {
  cursor: pointer;
}

.board-placeholder {
  width: 572px;
  height: 572px;
  border-radius: 6px;
}
