#createPack {
  height: 58px;
  aspect-ratio: 1/1;
}

.form-range {
  width: 300px;
}

#bingoLink {
  max-width: 300px;
}

#twitchEmbedDiv {
  height: 85vh;
  z-index: 1;
}

#twitchEmbed {
  height: 100%;
}

#settingsCard > .card-body {
  height: 80vh;
  overflow: auto;
}

@keyframes card-easein {
  from {
    opacity: 0;
    top: -10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

#customBingoNameDiv {
  animation: card-easein 0.1s ease-in;
}

.item-input-placeholder > * {
  height: 38px;
  border-radius: 6px;
}

.board-placeholder {
  width: 572px;
  height: 572px;
  border-radius: 6px;
}
