.nav-link {
  cursor: pointer;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

iframe {
  border-radius: 6px;
}

.chat-badge {
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.viewers-svg {
  filter: invert(79%) sepia(7%) saturate(294%) hue-rotate(169deg) brightness(90%) contrast(93%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}
